@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

header {
  background-color: rgba(123, 175, 217, 0.8);
  color: #fff;
  max-width: 100vw;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: flex-start;
}

.main {
  max-width: 100vw;
  height: 100vh;
  background-color: #74aad1;
  display: flex;
  background-image: url('/sky.svg');
  background-size: cover;
  background-position: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  overflow: hidden;
}

.img__main {
  width: 20%;
}

.weather_card {
  background-color: rgba(123, 175, 217, 0.8);
  padding: 20px;
  width: 300px;
  height: 460px;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  font-size: 1em;
  border: 3px solid #fff;
  border-radius: 8px;
}

.weather_card:hover {
  border: 3px solid #4b63da;
  transition: border-color 0.2s;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.big {
  width: 30%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.weather_card img {
  width: 50px;
  height: 50px;
}

.small {
  width: 200px;
  height: 250px;
}


.container {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 10px;
}

input {
  margin-bottom: 10px;
  font-size: 1em;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 0.2s;
  border-radius: 30px;
  padding-left: 20px;
  text-align: left;
  color: #989898;
  position: relative;
}

input:focus {
  border-color: #4b63da;
}

button {
  position: absolute;
  left: 550px;
  height: 50px;
  padding: 10px 20px;
  background-color: #7c8ee8;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #4b63da;
  transition: background-color 0.2s;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 400px);
    padding-right: calc(50% - 400px);

  }

  button {
    left: 0px;
    position: relative;
  }

  .container {
    grid-template-columns: repeat(2, 200px);
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .center {
    padding-left: calc(50% - 188px);
    padding-right: calc(50% - 188px);

  }


  body {
    max-width: 100vw;
    font-size: 10px;
  }

  header {
    max-width: 100vw;
    flex-direction: column;
    gap: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
  }

  header img {
    display: none;
  }

  button {
    left: 0;
    position: relative;
  }

  .main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;

  }


  .small {
    min-height: 20vh;
    width: 40vw;
    margin: 0;
  }

  .big {
    width: 40vw;
    max-height: 40vh;
    margin: 0;
    margin-left: 10;
    margin-bottom: 20px;
  }

  .container {
    grid-template-columns: repeat(1, 100px);
    gap: 0px;
    padding: 0;
    margin: 0;
    overflow-x: auto;
  }

}